{% include 'scTool.html' %}
{% include 'tableScript.html' %}
{% block table %}
  <div class="row" >
    <div class="col"></div>
    <div class="col">
      <table id="table_id" class="display">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>ITEMS VENDIDOS</th>
            <th>LINK</th>
            <th>CATEGORIA</th>
          </tr>
        </thead>
        <tbody style="background-color: #ff5e5e;">
          {{ table_content|safe }}
        </tbody>
      </table>
    </div>
    <div class="col">
    </div>
  </div>
  
  {% block tableScript %}
  {% endblock tableScript %}
{% endblock table %}