{% extends 'index.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col w-25 p-3">
      <button type="button" class="btn btn-primary btn-sm" href="meliPage.html" action="{% url 'meliPage' %}">Mercado Libre</button>
      <button type="button" class="btn btn-primary btn-sm">Linio</button>
      <button type="button" class="btn btn-primary btn-sm" href="falabellaPage.html" action="{% url 'falabellaPage' %}">Falabella</button>
    </div>
    <div class="col">
      
    </div>
  </div>
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col">
      <table id="table_id" class="display">
        <thead>
          <tr>
            <th>NOMBRE</th>
            <th>ITEMS VENDIDOS</th>
            <th>LINK</th>
            <th>CATEGORIA</th>
          </tr>
        </thead>
        <tbody>
          {{ table_content|safe }}
        </tbody>
      </table>
    </div>
    <div class="col">
    </div>
  </div>
</div>






<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/datatables.min.js"></script>
<script>
  $(document).ready( function(){
    $('#table_id').DataTable({
      dom:'B<"clear">lfrtip',
      buttons:{
        name: 'primary',
        buttons: ['copy']
      }
    });
  });
</script>
{% endblock content %}