<!DOCTYPE html>
<html lang="es" id="mainBody">  

  

  <head>
    <meta charset="UTF-8">
    <title>Title</title>  
    {% load static %}
    <link rel="stylesheet" href="{% static 'tableScript.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body id="mainBody" style="height: 100%; background-color: #b5b5b5;">
    <div class="row">
      <div class="col d-flex justify-content-center" style="background-color: #b5b5b5;">
      <a type="button" class="btn btn-primary" style="background-color: #3d3d3d; border: #3f3f3f;" href="/scTool">
        A la herramienta 
      </a>
    </div>
  </div>
    
  </body>
  
  </html>




