{% extends 'scTool.html' %}
{% block table %}
  <div class="row" style="background-color: #dcdcdc; padding: auto; ">
    <div class="col-1"></div>
    <div class="col">

      <form action="./">
        <input type="submit" value="TRUE" class="btn btn-primary " style="background-color: #3d3d3d; border: #3f3f3f;" >Ejecutar funcion<br>
        <label for="formControlRange" class="form-label">Maximo de paginas: (MAX 1000)</label>
        <input name = "range" type="range" class="form-control-range" onInput="$('#rangeval').html($(this).val())">
        <a id="rangeval"></a>
        <input type="text" name="country" value="{{country}}" style="visibility: hidden;">
        <input type="text" name="execute_function" value="TRUE" style="visibility: hidden;">
      </form>
      </div>
    
  </div>
  <div class="row" style="background-color: #dcdcdc; padding: auto; ">
    <div class="col-1"></div>
  
    <div class="col-10 ">
      <div class="row">
        <div style="width:100%" class="col">
          <table id="table_id" class="display">
            <thead>
              <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>CIUDAD</th>
                <th>PUNTUACION</th>
                <th>LINK</th>
                <th>NIVEL VENDEDOR</th>
                <th>TRANSACCIONES TOTALES</th>
              </tr>
            </thead>
            <tbody style="background-color: #f7f7f7;">
              {{ table_content|safe }}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  {% block tableScript %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/datatables.min.css"/>
  <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/datatables.min.js"></script>

  <script>
    $(document).ready( function(){
      var table = $('#table_id').DataTable({
        columnDefs:[
          {
            targets:[0,1,2,3,4,5],
            className:"truncate,cell-border,hover"
          }
        ],
        createdRow: function(row){
          var td = $(row).find(".truncate");
          td.attr("title", td.html());
        },
        dom:'B<"clear">lfrtip',
        
        buttons: {
        buttons: [
            { 
              extend: 'copy', 
              title: 'datos_exportados_html'
            },
            { 
              extend: 'csvHtml5',
              title: 'datos_exportados_csv' 
            }
        ]
    }
      });
    });
  </script>
  {% endblock tableScript %}
{% endblock table %}
