{% include 'scTool.html' %}
{% include 'tableScript.html' %}
{% block table %}
  <div class="row" >
    <div class="col-1"></div>
    <div class="col-10">
      <div style="width:100%">
        <table id="table_id" class="display  nowrap ">
          <thead>
            <tr>
              <th>ID</th>
              <th>NOMBRE</th>
              <th>CIUDAD</th>
              <th>PUNTUACION</th>
              <th>LINK</th>
              <th>NIVEL VENDEDOR</th>
              <th>TRANSACCIONES TOTALES</th>
            </tr>
          </thead>
          <tbody style="background-color: #ff5e5e;">
            {{ table_content|safe }}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-1"></div>
  </div>

  {% block tableScript %}
  {% endblock tableScript %}
{% endblock table %}
