<!DOCTYPE html>
<html lang="es">  

<html>
  

  <head>
    <meta charset="UTF-8">
    <title>Title</title>  
    {% load static %}
    <link rel="stylesheet" href="{% static 'tableScript.css' %}"
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
{% block toolIndex %}
<div>
  <a href=".."> volver </a>
</div>

<div class="container" style="background-color: #459934; padding: auto; ">
  <div class="row">
    <div class="btn" role="group" aria-label="Buttons">
      <a type="button" class="btn btn-primary " href="/meli">Mercado Libre</a>
      <a type="button" class="btn btn-primary " href="#">Linio</a>
      <a type="button" class="btn btn-primary " href="/falabella">Falabella</a>
    </div>
    <div class="col">
      {% block table %}
      {% endblock table %}
    </div>
  </div>

  


</div>


{% endblock toolIndex %}



  
</html>
